In [2]:
import pandas as pd
import numpy as np

In [3]:
df2 = pd.read_csv('../raw_data/emotional_perday.csv')

In [7]:
df2[['joy', 'surprise', 'fear', 'sadness', 'anger', 'disgust', 'others']]

          joy  surprise  fear  sadness  anger  disgust  others
0        0.66      0.98  0.46     0.40  78.71     4.20   14.60
1        0.14      0.25  0.07     0.23   0.16     0.04   95.49
2       58.71      5.22  0.32     0.12   0.15     0.27   35.22
3        3.47      0.79  0.52     0.28   0.89     0.68   93.37
4        0.27      0.18  0.11     0.24   0.07     0.06   98.26
...       ...       ...   ...      ...    ...      ...     ...
275541   0.81     54.83  0.32     1.79   0.50     0.39   41.35
275542   5.22     46.21  0.93     0.53   0.30     0.33   46.48
275543   0.04      0.05  0.10     0.12  32.79     1.49    0.30
275544   0.32      2.68  1.03    60.71   1.40     0.21   33.65
275545   1.92      4.10  0.51     0.38   0.47     0.55   92.07

[275546 rows x 7 columns]

In [5]:
df2[(df2['created_at'] == '2021-08-28')]

,created_at,user_location,created_at.1,joy,surprise,user_location.1,fear,sadness,anger,disgust,others
274159,2021-08-28,Garin,2021-08-28,0.31,0.54,Garin,0.39,0.27,0.53,0.18,97.78
274160,2021-08-28,PILAR-BUENOS AIRES-ARGENTINA,2021-08-28,0.78,1.50,PILAR-BUENOS AIRES-ARGENTINA,0.27,0.61,0.26,0.22,9.27
274161,2021-08-28,"9 de Julio, Buenos Aires",2021-08-28,0.23,0.21,"9 de Julio, Buenos Aires",0.16,2.47,0.51,0.08,90.50
274162,2021-08-28,Argentina,2021-08-28,0.22,0.32,Argentina,0.94,8.08,0.40,0.15,23.90
274163,2021-08-28,"Argentina, Córdoba",2021-08-28,0.19,1.08,"Argentina, Córdoba",0.13,0.33,0.20,0.05,98.02
...,...,...,...,...,...,...,...,...,...,...,...
274411,2021-08-28,ramos mejia,2021-08-28,0.35,5.03,ramos mejia,0.17,0.13,0.15,0.10,6.20
274412,2021-08-28,"santa fe, argentina",2021-08-28,0.33,17.84,"santa fe, argentina",0.54,0.96,0.42,0.22,79.67
274413,2021-08-28,saturno,2021-08-28,0.24,0.43,saturno,0.79,21.21,43.17,1.07,33.09
274414,2021-08-28,uruguay,2021-08-28,0.43,0.40,uruguay,0.08,1.17,0.09,0.04,74.33
274415,2021-08-28,"𝐛𝐮𝐞𝐧𝐨𝐬 𝐚𝐢𝐫𝐞𝐬, 𝐚𝐫",2021-08-28,14.39,9.49,"𝐛𝐮𝐞𝐧𝐨𝐬 𝐚𝐢𝐫𝐞𝐬, 𝐚𝐫",0.17,0.94,0.30,0.16,74.56

In [3]:
df.columns

Index(['created_at', 'user_location', 'created_at.1', 'joy', 'surprise',
       'user_location.1', 'fear', 'sadness', 'anger', 'disgust', 'others'],
      dtype='object')

In [22]:
df['created_at'] = pd.to_datetime(df['created_at'], format='%Y-%m-%d')

NameError: name 'datetime' is not defined

In [6]:
caba = df[df['user_location'] == 'Capital Federal']
buenos_aires = df[df['user_location'] == 'Buenos Aires']
cordoba = df[df['user_location'] == 'Cordoba']
mendoza = df[df['user_location'] == 'Mendoza']
santa_fe = df[df['user_location'] == 'Santa Fe']
la_pampa = df[df['user_location'] == 'La Pampa']
catamarca = df[df['user_location'] == 'Catamarca']
chaco = df[df['user_location'] == 'Chaco']
chubut = df[df['user_location'] == 'Chubut']
corrientes = df[df['user_location'] == 'Corrientes']
entre_rios = df[df['user_location'] == 'Entre Rios']
formosa = df[df['user_location'] == 'Formosa']
jujuy = df[df['user_location'] == 'Jujuy']
la_rioja = df[df['user_location'] == 'La Rioja']
misiones = df[df['user_location'] == 'Misiones']
neuquen = df[df['user_location'] == 'Neuquén']
rio_negro = df[df['user_location'] == 'Rio Negro']
salta = df[df['user_location'] == 'Salta']
san_juan = df[df['user_location'] == 'San Juan']
san_luis = df[df['user_location'] == 'San Luis']
santiago_del_estero = df[df['user_location'] == 'Santiago del Estero']

In [7]:
caba

,created_at,user_location,created_at.1,joy,surprise,user_location.1,fear,sadness,anger,disgust,others
106,2020-04-25,Capital Federal,2020-04-25,0.20,0.16,Capital Federal,0.08,0.18,0.22,0.06,55.36
703,2020-04-26,Capital Federal,2020-04-26,0.34,0.29,Capital Federal,0.62,0.17,0.18,0.09,90.33
1244,2020-04-27,Capital Federal,2020-04-27,0.47,0.12,Capital Federal,0.10,0.13,0.09,0.18,1.46
1769,2020-04-28,Capital Federal,2020-04-28,0.03,0.18,Capital Federal,0.92,0.22,0.13,0.07,0.30
2306,2020-04-29,Capital Federal,2020-04-29,0.23,0.38,Capital Federal,0.11,0.20,0.06,0.04,63.20
...,...,...,...,...,...,...,...,...,...,...,...
273880,2021-08-27,Capital Federal,2021-08-27,0.36,10.14,Capital Federal,0.22,0.51,0.15,0.09,88.52
274198,2021-08-28,Capital Federal,2021-08-28,27.44,0.26,Capital Federal,0.94,64.77,1.09,0.19,5.31
274458,2021-08-29,Capital Federal,2021-08-29,0.34,1.45,Capital Federal,0.22,0.82,2.61,0.24,94.32
274722,2021-08-30,Capital Federal,2021-08-30,1.03,7.33,Capital Federal,0.15,0.42,0.27,0.11,56.48
275050,2021-08-31,Capital Federal,2021-08-31,1.06,64.15,Capital Federal,0.50,0.70,1.83,0.21,31.54

In [9]:
df = df.groupby(["created_at", "user_location"]).mean()

In [7]:
caba = df_2[df_2['user_location'] == 'Capital Federal']
buenos_aires = df_2[df_2['user_location'] == 'Buenos Aires']
cordoba = df_2[df_2['user_location'] == 'Cordoba']
mendoza = df_2[df_2['user_location'] == 'Mendoza']
santa_fe = df_2[df_2['user_location'] == 'Santa Fe']
la_pampa = df_2[df_2['user_location'] == 'La Pampa']
catamarca = df_2[df_2['user_location'] == 'Catamarca']
chaco = df_2[df_2['user_location'] == 'Chaco']
chubut = df_2[df_2['user_location'] == 'Chubut']
corrientes = df_2[df_2['user_location'] == 'Corrientes']
entre_rios = df_2[df_2['user_location'] == 'Entre Rios']
formosa = df_2[df_2['user_location'] == 'Formosa']
jujuy = df_2[df_2['user_location'] == 'Jujuy']
la_rioja = df_2[df_2['user_location'] == 'La Rioja']
misiones = df_2[df_2['user_location'] == 'Misiones']
neuquen = df_2[df_2['user_location'] == 'Neuquén']
rio_negro = df_2[df_2['user_location'] == 'Rio Negro']
salta = df_2[df_2['user_location'] == 'Salta']
san_juan = df_2[df_2['user_location'] == 'San Juan']
san_luis = df_2[df_2['user_location'] == 'San Luis']
santiago_del_estero = df_2[df_2['user_location'] == 'Santiago del Estero']

NameError: name 'df_2' is not defined

In [10]:
df

                                       joy  surprise  fear  sadness  anger  \
created_at user_location
2020-04-25                            0.66      0.98  0.46     0.40  78.71
            #UnLugar 🌎                0.14      0.25  0.07     0.23   0.16
            Argentina.               58.71      5.22  0.32     0.12   0.15
            Corrientes                3.47      0.79  0.52     0.28   0.89
           9 de Julio, Buenos Aires   0.27      0.18  0.11     0.24   0.07
...                                    ...       ...   ...      ...    ...
2021-09-01 morteros                   0.81     54.83  0.32     1.79   0.50
           parque del plata           5.22     46.21  0.93     0.53   0.30
           uruguay                    0.04      0.05  0.10     0.12  32.79
           villa maria                0.32      2.68  1.03    60.71   1.40
           📍Uruguay                   1.92      4.10  0.51     0.38   0.47

                                     disgust  others
created_at user_location
2020-04-25                              4.20   14.60
            #UnLugar 🌎                  0.04   95.49
            Argentina.                  0.27   35.22
            Corrientes                  0.68   93.37
           9 de Julio, Buenos Aires     0.06   98.26
...                                      ...     ...
2021-09-01 morteros                     0.39   41.35
           parque del plata             0.33   46.48
           uruguay                      1.49    0.30
           villa maria                  0.21   33.65
           📍Uruguay                     0.55   92.07

[275546 rows x 7 columns]

In [18]:
df.to_csv('../raw_data/emotional_perday4.csv')

In [16]:
df = df.reset_index()
df.dtypes

index                     int64
created_at       datetime64[ns]
user_location            object
joy                     float64
surprise                float64
fear                    float64
sadness                 float64
anger                   float64
disgust                 float64
others                  float64
dtype: object